<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Noklusējuma nosaukums{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="container-fluid mt-0">
    <header class="py-3 mb-4 border-bottom">
        <div class="row align-items-center mx-3">
            <div class="col-auto">
                <a href="{{ url_for('index') }}" class="d-flex align-items-center link-body-emphasis text-decoration-none"> 
                <span class="fs-4">KVITS</span>
              </a>
            </div>
            <div class="col">
              <ul class="nav nav-pills justify-content-end">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Enģes
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('klasiskas') }}">Klasiskās</a></li>
                        <li><a class="dropdown-item" href="Enges/vartu.html">Vārtu</a></li>
                        <li><a class="dropdown-item" href="Enges/metinamas.html">Metināmās</a></li>
                    </ul>
                </li>
            
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Aizbīdņi, Krampīši
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="Aizbidni_krampisi/aizbidni.html">Aizbīdņi</a></li>
                        <li><a class="dropdown-item" href="Aizbidni_krampisi/krampisi.html">Krampīši</a></li>
                        <li><a class="dropdown-item" href="Aizbidni_krampisi/piekaramajai_atslegai.html">Piekaramajai atslēgai</a></li>
                        <li><a class="dropdown-item" href="Aizbidni_krampisi/vartu.html">Vārtu</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Slēdzenes
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="Sledzenes/vacu_standarta.html">Vācu standarta</a></li>
                        <li><a class="dropdown-item" href="Sledzenes/euro_standarta.html">Euro standarta</a></li>
                        <li><a class="dropdown-item" href="Sledzenes/skandinavu_standarta.html">Skandināvu standarta</a></li>
                        <li><a class="dropdown-item" href="Sledzenes/rulisu_mehanismi.html">Rulīšu mehānismi</a></li>
                        <li><a class="dropdown-item" href="Sledzenes/starpistabu.html">Starpistabu</a></li>
                        <li><a class="dropdown-item" href="Sledzenes/pretplaksnes.html">Pretplāksnes</a></li>
                        <li><a class="dropdown-item" href="Sledzenes/elbor.html">Elbor</a></li>
                        <li><a class="dropdown-item" href="Sledzenes/koda.html">Koda</a></li>
                  </ul>
                </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Durvju rokturi
                  </a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="Durvju_rokturi/dalitajam_uzlikam.html">Dalītajām uzlikām</a></li>
                      <li><a class="dropdown-item" href="Durvju_rokturi/garajam_uzlikam.html">Garajām uzlikām</a></li>  
                      <li><a class="dropdown-item" href="Durvju_rokturi/skandinavu_standarta.html">Skandināvu standarta</a></li> 
                      <li><a class="dropdown-item" href="Durvju_rokturi/parejie_rokturi.html">Pārējie rokturi</a></li>
                      <!-- <li><a class="dropdown-item" href="#">Lokveida</a></li>
                      <li><a class="dropdown-item" href="#">Centra</a></li>
                      <li><a class="dropdown-item" href="#">Lūkas</a></li>
                      <li><a class="dropdown-item" href="#">Sēnītes</a></li> -->
                  </ul>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Cilindri, Aizgriežņi
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="Cilindri_aizgriezni/cilindri.html">Cilindri</a></li>
                        <li><a class="dropdown-item" href="Cilindri_aizgriezni/aizgriezni.html">Aizgriežņi</a></li>
                        <li><a class="dropdown-item" href="Cilindri_aizgriezni/uzlikas.html">Uzlikas</a></li>
                        <li><a class="dropdown-item" href="Cilindri_aizgriezni/nosegplaksnes.html">Nosegplāksnes</a></li>
                        
                    </ul>
                  </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Mēbeļu furnitūra
                  </a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="Mebelu_furnitura/sledzenes.html">Slēdzenes</a></li>
                      <li><a class="dropdown-item" href="Mebelu_furnitura/enģes.html">Eņģes</a></li>
                      <li><a class="dropdown-item" href="Mebelu_furnitura/enģes.html">Magnēti</a></li>
                      <li><a class="dropdown-item" href="Mebelu_furnitura/lodites.html">Lodītes</a></li>
                  </ul>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Cita furnitūra
                  </a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="Cita_furnitūra/pakaramie.html">Pakaramie</a></li>
                      <li><a class="dropdown-item" href="Cita_furnitūra/paslimejosies_nummurini.html">Pašlīmējošie nummuriņi</a></li>
                      <li><a class="dropdown-item" href="Cita_furnitūra/atdures.html">Atdures</a></li>
                      <li><a class="dropdown-item" href="Cita_furnitūra/aizvereji.html">Aizvērēji</a></li>
                  </ul>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Stiprinājumi
                  </a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="Stiprinajumi/plauktu_lenki.html">Plauktu leņķi</a></li>
                      <li><a class="dropdown-item" href="Stiprinajumi/margu_balsti.html">Margu balsti</a></li>
                  </ul>
                </li> 

              </ul>
            </div>
            <div class="col">
              <a href="/docs/5.3/getting-started/introduction/" class="btn btn-lg bd-btn-lg btn-bd-primary d-flex align-items-center justify-content-center fw-semibold">
                <svg class="bi me-2" aria-hidden="true"><use xlink:href="#book-half"></use></svg>
                Read the docs
              </a>
                <a href="/grozs" class="btn btn-primary">Grozs</a>
                <form class="d-flex ms-2">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
              </div>
            </div>
          </div>
        </header>
    </div>
</div>
{% block body %}{% endblock %}
<!-- Kājene -->
<div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
      <div class="col mb-3">
        <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <p class="text-body-secondary">© {{gads}} KVITS SIA</p>
      </div>
  
      <div class="col mb-3">
  
      </div>
  
      <div class="col mb-3">
        <h5>Par uzņēmumu</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="Par_uzņēmumu/vesture.html" class="nav-link p-0 text-body-secondary">Vēsture</a></li>
          <li class="nav-item mb-2"><a href="Par_uzņēmumu/kontakti.html" class="nav-link p-0 text-body-secondary">Kontakti</a></li>
          <li class="nav-item mb-2"><a href="Par_uzņēmumu/atrasanas_vieta.html" class="nav-link p-0 text-body-secondary">Atrašanās vieta</a></li>
          <li class="nav-item mb-2"><a href="Par_uzņēmumu/rekviziti.html" class="nav-link p-0 text-body-secondary">Rekvizīti</a></li>
        </ul>
      </div>
  
      <!-- <div class="col mb-3">
        <h5>Piegāde un maksājumi</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pasūtīšana</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Piegāde</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Apmaksa</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
        </ul>
      </div> -->
    </footer>
  </dscript/div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
