.fs-4{
    color:rgb(226, 16, 16);
}

.nav-link.dropdown-toggle{
    color:black;

}

.dropdown-item{
    color:black;
}

.carousel-item img {
    max-height: 400px; /* Adjust to desired height */
    object-fit: cover; /* Keeps the image aspect ratio */
}


/* #handle-group {
    transform-origin: top left;
    transition: transform 0.4s ease;
  }
  
  #door-icon:hover #handle-group {
    transform: rotate(15deg);
    transform: rotate(15deg);
  }
   */

   svg {
    width: 500px;
    height: auto;
    display: block;
    margin: 2rem auto;
  }

  #handle {
    transform-origin: 341px 341px;
    transition: transform 0.3s ease-in-out;
  }

  svg:hover #handle {
    animation: rotateHandleReverse 1s ease-in-out forwards;
  }

  @keyframes rotateHandleReverse {
    0%   { transform: rotate(0deg); }
    50%  { transform: rotate(-30deg); }
    100% { transform: rotate(0deg); }
  }