{% autoescape off %}
Sveiki,

Jūs saņēmāt šo e-pastu, jo pieprasījāt paroles atiestatīšanu savam lietotāja kontam vietnē {{ site_name }}.

Lūdzu, dodieties uz šo lapu un izvēlieties jaunu paroli:
{{ protocol }}://{{ domain }}{% url 'kvitsapp:password_reset_confirm' uidb64=uid token=token %}

Jūsu lietotājvārds, ja esat aizmirsis: {{ user.get_username }}

Ja jūs nepieprasījāt paroles atiestatīšanu, lūdzu, ignorējiet šo e-pastu. Jūsu parole paliks nemainīga.

Paldies, ka izmantojat mūsu vietni!

{{ site_name }} komanda
{% endautoescape %}
