{% extends "base.html" %}
{% load static %}

{% block title %}Parole Atiestatīta{% endblock %}

{% block body %}
<div class="container mt-4" style="color: black;"> {# Added style for black text #}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Parole veiksmīgi atiestatīta!</h4> {# Password reset successful! #}
        <p>Jūsu parole ir nomainīta. Jūs tagad varat pieslēgties ar savu jauno paroli.</p> {# Your password has been set. You may go ahead and log in now. #}
        <hr>
        <p class="mb-0"><a href="{% url 'kvitsapp:login' %}">Pieslēgties</a></p> {# Log in #}
    </div>
</div>
{% endblock %}
