{% extends "base.html" %}

{% load static %} {% block title %}Sākums{% endblock %}

{% block body %}

<!-- Karuselis -->
<div class="container2 text-b">
    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/karuselis/enges1.jpg' %}" class="d-block" alt="Slide 1">
                <div class="container">
                    <div class="carousel-caption text-start text-b">
                        <h1>Eņģes</h1>
                        <p>Kaut kāds teksts pirmajam slaidam.</p>
                        <p><a class="btn btn-lg btn-primary" href="{% url 'kvitsapp:product_list_by_category' slug='klasiskas' %}">Skatīt</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/karuselis/aizbidnis.jpg' %}" class="d-block" alt="Slide 2">
                <div class="container">
                    <div class="carousel-caption text-b">
                        <h1>Aizbīdņi</h1>
                        <p>Kaut kāds teksts otrajam slaidam.</p>
                        <p><a class="btn btn-lg btn-primary" href="{% url 'kvitsapp:product_list_by_category' slug='aizbidni' %}">Skatīt</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/karuselis/sledzene.jpg' %}" class="d-block" alt="Slide 3">
                <div class="container">
                    <div class="carousel-caption text-end text-b">
                        <h1>Slēdzenes</h1>
                        <p>Kaut kāds teksts trešajam slaidam.</p>
                        <p><a class="btn btn-lg btn-primary" href="{% url 'kvitsapp:product_list_by_category' slug='vacu-standarta' %}">Skatīt</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/karuselis/rokturis.jpg' %}" class="d-block" alt="Slide 4">
                <div class="container">
                    <div class="carousel-caption text-start text-b">
                        <h1>Rokturi</h1>
                        <p>Kaut kāds teksts ceturtajam slaidam.</p>
                        <p><a class="btn btn-lg btn-primary" href="{% url 'kvitsapp:product_list_by_category' slug='garajam-uzlikam' %}">Skatīt</a></p>
                    </div>
                </div>
            </div>
             <div class="carousel-item">
                <img src="{% static 'images/karuselis/lenkis.jpg' %}" class="d-block" alt="Slide 5">
                <div class="container">
                    <div class="carousel-caption text-end text-b">
                        <h1>Stiprinājumi</h1>
                        <p>Kaut kāds teksts piektajam slaidam.</p>
                        <p><a class="btn btn-lg btn-primary" href="{% url 'kvitsapp:product_list_by_category' slug='konsoles' %}">Skatīt</a></p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Iepriekšējais</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Nākamais</span>
        </button>
    </div>
</div>
    
{% endblock %}

